body {
        font-family: 'Sarabun', sans-serif;
        margin: 0;
        padding: 0;
}
.sarabun-bold {
        font-family: "Sarabun", sans-serif;
        font-weight: 700;
        font-style: normal;
      }  
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
}
    
a{
        color: #000;
}
    
:root{
        --h1-font:4.5rem;
        --h3-font:2.5rem;
        --p-font:2.5rem;
}
    
    
.first {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        width: 75%;
        text-align: center;
        align-items: center;
}
    
.first h1{
        font-size: var(--h1-font);
}
    
.first h3{
        font-size: var(--h3-font);
        color:sienna;
}
    
.first img{
        width: 60px;
        height: 60px;
}
    
.first .page-button{
        padding-top: 20%;
        display: grid;
        grid-template-columns: 100% 100%;
}
    
.page-button button{
        color: black;
        font-size: var(--p-font);
        background-color:darkseagreen;
        padding: 10px 10px;
        border: none;
        box-shadow: 5px 5px rgba(111, 194, 70, 0.5);
}
